body {
    font-family: 'Mukta', sans-serif;
}
header {
    text-align: center;
}
main {
    padding: 10px;
}
section {
    padding: 10px;
}
h2 {
    font-weight: bold;
}
h3 {
    text-decoration: underline;
    font-weight: bold;
}

h5{ 
    font-weight: bolder;
}
a {
    text-decoration: none;
}
header {
        display: flex;
        justify-content:space-evenly;
        text-align: center;
        padding: 40px;
        margin: 0 auto
    }
#perfil {
    width: 180px;
}

footer i {
    font-size: 50px;
    color: aliceblue;
    margin: 10px;
}